body {
    background-color: rgb(80, 104, 190);
}

.Container {
    margin: auto;
    padding: 2%;
    width: 90%;
    height: 90%;
    background-color: white;
    align-content: center;
    border: 4px solid rgb(75, 75, 75);
    box-shadow: 5px 5px 5px #222;
}

h1 {
    font-size: xx-large;
    font-family: 'montserrat';
    color: white;
    text-align: center;
}

h2 {
    font-size: 150%;
    font-family: 'montserrat';
}

p {
    font-size: large;
    font-family: 'montserrat';
}

li {
    font-size: medium;
    font-family: 'montserrat';
}

